<div>
  <h2> {{producto.name}} </h2>
  <img src="{{producto.image}}" alt="{{producto.name}}">
  <p> {{producto.description}} </p>
  <p>id: {{producto.id}} </p>
  <h5> {{producto.stars}} </h5>
  <button routerLink="/productos/" >Volver atrás</button>
</div>

<input type="text" placeholder="name" [(ngModel)]="producto.name">
<input type="text" placeholder="image" [(ngModel)]="producto.image">
<input type="text" placeholder="description" [(ngModel)]="producto.description">
<input type="text" placeholder="stars" [(ngModel)]="producto.stars">
<input type="text" placeholder="director" [(ngModel)]="producto.director">
<input type="text" placeholder="actores" [(ngModel)]="producto.actores">
<input type="text" placeholder="sinopsis" [(ngModel)]="producto.sinopsis">

<button (click)="actualizarProducto()">Actualizar película</button>

<button (click)="deleteProducto()">Eliminar película</button>





